.media-container {
  
  .carousel-inner {
    max-width: 256px;
    max-height: 144px;
    margin-left: auto;
    margin-right: auto;
    background-image: image-url('bg_grunge.png');
    padding: 4px;
    
    @media (min-width: $screen-sm-min){
      max-width: 408px;
      max-height: 273px;
    }
  }
  
  .video-player {
    width: 100%;
  }
  
  .carousel-control {
    background-image: none;
    background-repeat: no-repeat;
  }
  
  .carousel-control .glyphicon {
    margin-left: 0;
    
    &.glyphicon-chevron-left { 
      left: 0; 
      right: auto; 
    }
  
    &.glyphicon-chevron-right { 
      right: 0; 
      left: auto; 
    }
  }
  
}